<h1><%= @product.name %></h1>
<p><%= @product.description %></p>

<h4>Комментарии и оценки</h4>
<%= form_for([@product, Comment.new]) do |f| %>
    <%= f.text_field :name, placeholder: 'Имя' %><br/>
    <%= f.text_area :content, placeholder: 'Текст комментария' %><br/>
    <%= f.number_field :mark %><br/>
    <%= f.submit 'Добавить' %>
<% end %>

<% @product.comments.each do |comment| %>
    <%= comment.content %>
    <%= comment.mark %>
    <%= comment.name %>
<% end %>