<!DOCTYPE html>
<html>
<head>
  <title>Megashop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render '/layouts/header' %>

<div class="menu">
  <div class="container_12">
    <div class="grid_12">
      <%= link_to 'Все носки', root_path %>
      <% Category.sorted.each do |category| %>
        <%= link_to category.name, root_path(category: category.id) %>
      <% end %>
    </div>
  </div>
</div>
<div class="container_12">
    <%= yield %>
</div>


</body>
</html>
